<div class="CRDivMain text-center"><div class="container"> 
    <a href="/" class="CRALogo"><img src="images/logo.png"></a>
    <h1>Cow Corporation</h1>
    <p>
        The "Cow Corporation" is currently an experiment.<br>
        The website you are viewing is used to test deployment of experimental software.
    </p><p>
        Copyright 2018 Cow Corporation<br>
        This is a pre-release version of the software.<br>
        You are welcome to download and experiment with this software.<br>
        However, it comes with no guarantee of suitability for any particular purpose; use at your own risk
    </p>
</div></div>
